header h1 {
	text-indent: -999px;
	margin: 0px;
	font-size: 0px;
	vertical-align: middle;

}

header h1 img {
	display: block;
	padding: 10px;
}

header h1,
header nav {
	display: inline-block;
	vertical-align: middle;
}

header nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li a {
	color: black;
	text-decoration: none;
	padding: 20px;
	display: block;
}

nav ul li a:hover {
	color: white;
	background: grey;
	
}

header {
	border-bottom: 1px solid black;
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;
}

body {
	margin: 0px;
}
section,aside {
	display: inline-block;
	vertical-align: top;
	padding: 10px;
}

main {
	text-align: center;
	margin:0;
}
aside {
	display: inline-block;
	vertical-align: top;

}

section {
	 width: 600px;∫

}
section img {
	display: block;
	margin: 0 auto:;

}

main aside p.num-response {
	color: red;
}

article header  {
	border: 0;
	text-align: left;
	padding: 0px;
}
article p {
	text-align: left;
}

section article header h3 {
	font-size: 20px;
	margin-bottom: 10px;
}







